
<div>
    <h1>Changelog</h1>
    <p class="monospace">Tag {{tagName}}, by <a href={{authorUrl}}>{{authorName}}</a>, released on <span>{{publishedAt}}</span></p>

    <div>
        <div class="monospace">
            <p><a href={{downloadZip}}>Download .zip</a></p>
            <p><a href={{downloadTar}}>Download .tar</a></p>
        </div>
        {{{content}}}
    </div>

</div>