
<div>
    <h1>{{name}}</h1><h2>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}</h2> 
    {{#if extends}}
    <h2>extends {{{extends}}}</h2>
    {{/if}}

    {{#if implements}}
    <h2>implements {{join implements ", "}}</h2>
    {{/if}}

    <p>{{{comment}}}</p><br><br>
    
    {{#each properties}}
    <div>{{{this}}}</div>
    {{/each}}

    {{#each methods}}
    <div>{{{this}}}</div>
    {{/each}}

</div>