
<div>
    <h1>Class <span class="referenceLink object">{{name}}</span></h1>
    {{#if typeParameters}}<p class="monospace">&lt;{{{join typeParameters ", "}}}&gt;</p>{{/if}}

    {{#if isAbstract}}
    <p class="item-name"><span class="keyword">abstract class</span></p>
    {{/if}}

    {{#if extends}}
    <p class="item-name"><span class="keyword">extends</span> {{{extends}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name"><span class="keyword">implements</span> {{{join implements ", "}}}</p>
    {{/if}}
    
    {{#if definedIn}}
    <p><a class="secondary-text" href={{loc.sourceFile}}>Defined in {{definedIn}}.ts</a></p>
    {{/if}}

    {{{comment}}}

    {{#if constructor}} 
    <h2>Constructor</h2>
    {{{constructor}}}
    {{/if}}
    
    {{#if properties}}
    <h2>Properties</h2>
    {{#each properties}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

    {{#if methods}}
    <h2>Methods</h2>

    {{#each methods}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

</div>