
<div>
    <h1>Class <span class="referenceLink class">{{name}}</span>{{#if typeParameters}}<span>&lt;{{~{join typeParameters ", "}~}}&gt;</span>{{/if}}</h1>
    {{#if extends}}
    <p class="item-name">extends {{{extends}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name">implements {{{join implements ", "}}}</p>
    {{/if}}

    <p>{{{comment}}}</p>
    
    {{#if properties}}
    <h2>Properties</h2>
    {{#each properties}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

    {{#if methods}}
    <h2>Methods</h2>

    {{#each methods}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

</div>