
<div>
    <h1>Class <span class="referenceLink object">{{name}}</span>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>
    {{#if extends}}
    <p class="item-name"><span class="keyword">extends</span> {{{extends}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name"><span class="keyword">implements</span> {{{join implements ", "}}}</p>
    {{/if}}

    {{{comment}}}

    {{#if constructor}} 
    <h2>Constructor</h2>
    {{{constructor}}}
    {{/if}}
    
    {{#if properties}}
    <h2>Properties</h2>
    {{#each properties}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

    {{#if methods}}
    <h2>Methods</h2>

    {{#each methods}}
    <div>{{{this}}}</div>
    {{/each}}
    {{/if}}

</div>