<div>
    <h1>Enum <span class="referenceLink object">{{name}}</span></h1>
    <p>{{{comment}}}</p><br><br>

    {{#if members}}
    <h2>Members</h2>
    {{#each members}}
    <div id={{this.name}}>
        <span class="item-name">{{this.name}}</span>

        {{#if this.initializer}}
        <span>= {{{this.initializer}}}</span>
        {{/if}}

    </div>
    {{/each}}
    {{/if}}


</div>