<div>
    <h1>Enum <span class="referenceLink object">{{name}}</span>
    
    {{#each loc}}
        <a href={{this.sourceFile}}>{{> sourceCode}}</a>
    {{/each}}
    </h1>

    {{{comment}}}

    {{#if members}}
    <h2>Members</h2>
    {{#each members}}
    <div id=".{{this.name}}">
        <a class="item-name" href="#.{{name}}">{{this.name}}</a>

        {{#if this.initializer}}
        <span>= {{{this.initializer}}}</span>
        {{/if}}

    </div>
    {{/each}}
    {{/if}}


</div>