<div>
    <h1>Enum <span class="referenceLink object">{{name}}</span></h1>

    {{#each definedIn}}
        <p><a class="secondary-text" href={{../loc.sourceFile}}>Defined in {{this}}.ts</a></p>
    {{/each}}

    {{{comment}}}

    {{#if members}}
    <h2>Members</h2>
    {{#each members}}
    <div id=".{{this.name}}" class="item">
        <a class="item-name" href="#.{{name}}">{{this.name}}</a>

        {{#if this.initializer}}
        <span>= {{{this.initializer}}}</span>
        {{/if}}

    </div>
    {{/each}}
    {{/if}}


</div>