<div>
    <h1>Function <span class="referenceLink method-name">{{name}}</span>
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>

    {{#each signatures}}
    <div>
        ({{{join parameters ", "}}}) {{#if returnType}}<span class="symbol">:</span> {{{returnType}}}{{/if}}
        <div class="docblock">
            {{{formatFunctionParameterComments this}}}
            {{{comment}}}
        </div>
    </div>
    {{/each}}
</div>