<div>
    <h1>Function <span class="referenceLink method-name">{{name}}</span>
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    </h1>

    {{{comment}}}

    {{#each signatures}}
    <div>
        ({{{join parameters ", "}}}) <span class="symbol">=></span> {{{returnType}}}
    </div>
    {{/each}}
</div>