<div>
    <h1>Function <span class="referenceLink method-name">{{name}}</span>{{#if typeParameters}}<span>&lt;{{~{join typeParameters ", "}~}}&gt;</span>{{/if}}</h1>

    {{#if definedIn}}
    <p><a class="secondary-text" href={{loc.sourceFile}}>Defined in {{definedIn}}.ts</a></p>
    {{/if}}

    {{#each signatures}}
    <div>
        ({{#if isLarge}}<div class="left-item">{{{join parameters ",<br>"}}}</div>{{else}}{{{join parameters ", "}}}{{/if}}){{#if returnType}}<span class="symbol">:</span> {{{returnType}}}{{/if}}
        <div class="docblock">
            {{{formatFunctionParameterComments this}}}
            {{{comment}}}
        </div>
    </div>
    {{/each}}
</div>