<div>
    <h1>Interface <span class="referenceLink object">{{name}}</span>{{#if typeParameters}}<span>&lt;{{~{join typeParameters ", "}~}}&gt;</span>{{/if}}</h1>

    {{#each definedIn}}
        <p><a class="secondary-text" href={{../loc.sourceFile}}>Defined in {{this}}.ts</a></p>
    {{/each}}

    {{#if extends}}
    <p class="item-name"><span class="keyword">extends</span> {{{join extends ", "}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name"><span class="keyword">implements</span> {{{join implements ", "}}}</p>
    {{/if}}


    <p>{{{comment}}}</p>

    {{#if properties}}
    <h2>Properties</h2>

    <div>
        {{#each properties}}
        <div class="item">{{{this}}}</div>
        {{/each}}
    </div>
    {{/if}}

</div>