
<div>
    {{#if isProperty}}
        <div class="item" id=".{{name}}">
             <div class="item-name">{{#if isReadonly}}<span class="modifier">readonly </span>{{/if}}<a class="property-name" href="#.{{name}}">{{name}}</a>{{#if isOptional}}<span class="symbol">?</span>{{/if}}<span class="symbol">:</span> {{{type}}}</div>
        </div>
    {{/if}}
    {{#if isIndex}}
    <div>
        <div class="item">
            <span class="item-name">[key<span class="symbol">:</span> {{{index}}}]<span class="symbol">:</span> {{{type}}}</span>
        </div>
    </div>
    {{/if}}
    {{#if isCall}} 
    <div class="item">
        {{{content}}}
    </div>
    {{/if}}
    {{#if isConstruct}}
    <div class="item">
        {{{content}}}
    </div>
    {{/if}}
    {{#if comment}}
        <div class="docblock">
            {{{comment}}}
        </div>
    {{/if}}
</div>
