
{{#if key}} 
<span>[key: {{{key}}}]: {{{type}}}</span>
{{else}}
<span class="item-name" id=".{{name}}"><a class="property-name" href="#.{{name}}">{{name}}</a><span class="symbol">:</span> {{{type}}}</span>
{{/if}}
