
{{#if key}} 
<span>[key<span class="symbol">:</span> {{{key}}}]<span class="symbol">:</span> {{{type}}}</span>
{{else}}
<span class="item-name" id=".{{name}}"><a class="property-name" href="#.{{name}}">{{name}}</a>{{#if isOptional}}<span class="symbol">?</span>{{/if}}<span class="symbol">:</span> {{{type}}}</span>
{{/if}}
