<div>
    <h1>
        Interface <span class="referenceLink object">{{name}}</span>
        {{#if typeParameters}}<span>
            <{{~{join typeParameters ", "}~}}>
        </span>{{/if}}
        {{#each loc}}
        <a href={{this.sourceFile}}>{{> sourceCode}}</a>
        {{/each}}
    </h1>

    {{#if extends}}
    <p class="item-name">extends {{{extends}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name">implements {{{join implements ", "}}}</p>
    {{/if}}


    <p>{{{comment}}}</p>

    {{#if properties}}
    <h2>Properties</h2>

    <div>
        {{#each properties}}
        <div>{{{this}}}</div>
        {{/each}}
    </div>
    {{/if}}

</div>