<div>
    <h1>Interface <span class="referenceLink object">{{name}}</span>{{#if typeParameters}}<span>&lt;{{~{join typeParameters ", "}~}}&gt;</span>{{/if}}</h1>


    {{#each definedIn}}
        {{#if filename}}
        <p><a class="secondary-text" href={{link}}>Defined in {{filename}}.ts</a></p>
        {{/if}}
    {{/each}}

    {{#if extends}}
    <p class="item-name"><span class="keyword">extends</span> {{{join extends ", "}}}</p>
    {{/if}}

    {{#if implements}}
    <p class="item-name"><span class="keyword">implements</span> {{{join implements ", "}}}</p>
    {{/if}}


    <p>{{{comment}}}</p>

    {{#if properties}}
    <h2>Properties</h2>

    <div>
        {{#each properties}}
            <div class="item">{{{value}}}</div>
            {{#if comment}}
            <div class="docblock">
                {{{comment}}}
            </div>
            {{/if}}
        {{/each}}
    </div>
    {{/if}}

</div>