
{{#if example}}
<h3 class="section-header">Example</h2>
{{{comment}}}
{{else if returns}} 
<h3 class="section-header">Returns</h2>
{{{comment}}}
{{else if param}}
{{#if comment}}
<div class="no-p">· <span class="item-name"><span class="param-name">{{arg}}</span> - <span>{{{comment}}}</span></span></div>
{{/if}}
{{else if deprecated}}
{{#if comment}}
<h3 class="section-header" style="color: red">Deprecated</h3>
{{{comment}}}
{{else}}
<span class="badge danger">deprecated</span>
{{/if}}
{{/if}}