
<div id={{name}}>
    <div class="docblock">
        {{{comment}}}
    </div>
    <span class="item-name"><span class="method-name">{{name}}</span>{{~#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span> {{/if~}}</span>
    {{#if isStatic}}<span class="badge">static</span>{{/if}}
    {{#if isAbstract}}<span class="badge">abstract</span>{{/if}}
    {{#if isPrivate}}<span class="badge">private</span>{{/if}}
    {{#if isReadonly}}<span class="badge">readonly</span>{{/if}}
    {{#if isGetter}}<span class="badge">getter</span>{{/if}}
    {{#if isSetter}}<span class="badge">setter</span>{{/if}}
    {{#each signatures}}
    <p>
        <span>({{~{join parameters ", "}~}})</span>{{~#if returnType}}<span> => {{{returnType}}}</span>{{/if~}}
    </p>
    {{/each}}
</div>