
<div id=".{{name}}" class="item">
    {{#resolveOverloads signatures}}
    <p class="item-name">
    {{#if ../isStatic}}<span class="modifier">static</span>{{/if}}
    {{#if ../isAbstract}}<span class="modifier">abstract</span>{{/if}}
    {{#if ../isPrivate}}<span class="modifier">private</span>{{/if}}
    {{#if ../isReadonly}}<span class="modifier">readonly</span>{{/if}}
    {{#if ../isGetter}}<span class="modifier">get</span>{{/if}}
    {{#if ../isSetter}}<span class="modifier">set</span>{{/if}}
    <a href={{../loc.sourceFile}}>{{> sourceCode}}</a>
        <span class="item-name method-name">{{../name}}</span>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}<span>({{~{join parameters ", "}~}})</span>{{~#if returnType}}<span><span class="symbol">:</span> {{{returnType}}}</span>{{/if~}}
        {{#if ../isDeprecated}}<span class="badge danger">deprecated</span>{{/if}}
        <div class="docblock">
        {{{formatFunctionParameterComments this}}}
        {{{comment}}}
        </div>
    </p>
    {{/resolveOverloads}}
</div>