
<div id=".{{name}}" class="item">
    {{#resolveOverloads signatures}}
    <span class="monospace">
    {{#if ../isStatic}}<span class="modifier">static</span>{{/if}}
    {{#if ../isAbstract}}<span class="modifier">abstract</span>{{/if}}
    {{#if ../isPrivate}}<span class="modifier">private</span>{{/if}}
    {{#if ../isReadonly}}<span class="modifier">readonly</span>{{/if}}
    {{#if ../isGetter}}<span class="modifier">get</span>{{/if}}
    {{#if ../isSetter}}<span class="modifier">set</span>{{/if}}
        <a class="item-name method-name" href="#.{{../name}}">{{../name}}</a>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}<span>({{#if isLarge}}<div class="left-item">{{{join parameters ",<br>"}}}</div>{{else}}{{{join parameters ", "}}}{{/if}})</span>{{~#if returnType}}<span><span class="symbol">:</span> {{{returnType}}}</span>{{/if~}}
        {{#if ../isDeprecated}}<span class="badge danger">deprecated</span>{{/if}}
    </span>
    {{#if renderSourceFile}}
    <a href={{../loc.sourceFile}}>{{> sourceCode}}</a>
    {{/if}}
        <div class="docblock">
        {{{formatFunctionParameterComments this}}}
        {{{comment}}}
    </div>
    {{/resolveOverloads}}
</div>