
<div id={{name}}>
    {{#if isStatic}}[static]{{/if}}
    {{#if isProtected}}[protected]{{/if}}
    {{#if isAbstract}}[abstract]{{/if}}
    {{#if isPrivate}}[private]{{/if}}
    <div class="docblock">
        {{{comment}}}
    </div>
    <p class="item-name"><span class="method-name">{{name}}</span>{{~#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span> {{/if~}}</p>
    {{#each signatures}}
    <p>
        <span>({{~{join parameters ", "}~}})</span>{{~#if returnType}}<span> => {{{returnType}}}</span>{{/if~}}
    </p>
    {{/each}}
</div>