<div class="item" id=".{{name}}">
    {{#if isStatic}}<span class="modifier">static</span>{{/if}}
    {{#if isProtected}}<span class="modifier">protected</span>{{/if}}
    {{#if isAbstract}}<span class="modifier">abstract</span>{{/if}}
    {{#if isPrivate}}<span class="modifier">private</span>{{/if}}
    {{#if isReadonly}}<span class="modifier">readonly</span>{{/if}}
    <span class="item-name"><a class="property-name" href="#.{{name}}">{{name}}</a>
        {{~#if type}}<span>: {{{type}}}</span>{{/if~}}
        {{#if initializer}} <span class="symbol">=</span> {{{initializer}}}{{/if}}
    </span>
    <a href={{loc.sourceFile}}>{{> sourceCode}}</a>
    <div class="docblock">
        {{{comment}}}
    </div>
</div>