
<span>
<a href={{link}}>
    {{#if type.displayName}}
    {{type.displayName}}
    {{else}}
    {{type.name}}
    {{/if}}
    </a>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}  
</span>