<div>
    <h1>Type alias <span class="referenceLink object">{{name}}</span></h1>

    {{#if typeParameters}}<p class="monospace">&lt;{{{join typeParameters ", "}}}&gt;</p>{{/if}}

    {{#if definedIn}}
    <p><a class="secondary-text" href={{loc.sourceFile}}>Defined in {{definedIn}}.ts</a></p>
    {{/if}}
    
    <p>{{{comment}}}</p>
    
    {{#if value}}<div class="monospace">{{{value}}}</div>{{/if}}

</div>