<span>
    <a href={{link}} class="referenceLink">
        <span class={{handleReferenceClass this}}>
            {{#if type.displayName}}
            {{type.displayName}}
            {{else}}
            {{type.name}}
            {{/if}}
        </span>
    </a>{{#if typeParameters}}<span>&lt;{{{join typeParameters ", "}}}&gt;</span>{{/if}}
</span>